<div class="container">
  <mat-card [appearance]="'outlined'">
    <mat-card-content>
      <h2>Register - Todo</h2>

      <form
        (ngSubmit)="register()"
        [formGroup]="registerForm"
        novalidate
        autocomplete="false"
      >
        <div class="form-inputs">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              matInput
              placeholder="Digite o seu nome"
              formControlName="name"
            />
            <mat-error *ngIf="displayMessage['name']">
              {{ displayMessage["name"] }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Digite o seu email"
              formControlName="email"
            />
            <mat-error *ngIf="displayMessage['email']">
              {{ displayMessage["email"] }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              matInput
              type="password"
              autocomplete="on"
              placeholder="Digite a sua senha"
              formControlName="password"
            />
            <mat-error *ngIf="displayMessage['password']">
              {{ displayMessage["password"] }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirmação de Senha</mat-label>
            <input
              matInput
              type="password"
              autocomplete="on"
              placeholder="Repita novamente sua senha"
              formControlName="confirmPassword"
            />
            <mat-error *ngIf="displayMessage['confirmPassword']">
              {{ displayMessage["confirmPassword"] }}
            </mat-error>
          </mat-form-field>
        </div>
        <button
          type="submit"
          [disabled]="!registerForm.valid"
          mat-raised-button
          color="primary"
        >
          <span *ngIf="!isLoading">Cadastrar</span>
          <mat-spinner
            *ngIf="isLoading"
            diameter="20"
            color="accent"
          ></mat-spinner>
        </button>
      </form>

      <span class="link-count" clas routerLink="/auth/login"
        >Já possui uma conta?</span
      >
    </mat-card-content>
  </mat-card>
</div>
