.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container mat-card {
  width: 400px;
}

.container mat-card mat-card-content h2 {
  text-align: center;
}

.container mat-card mat-card-content form {
  display: flex;
  flex-direction: column;
}

.container mat-card mat-card-content button {
  width: 100%;
  padding: 0.5rem;
}

.container mat-card mat-card-content span {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
}