<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>Login - Todo</h2>

      <form
        (ngSubmit)="login()"
        [formGroup]="loginForm"
        novalidate
        autocomplete="false"
      >
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Digite o seu email"
              formControlName="email"
            />
            <mat-error *ngIf="displayMessage['email']">
              {{ displayMessage["email"] }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input
              matInput
              type="password"
              autocomplete="on"
              placeholder="Digite a sua senha"
              formControlName="password"
            />
            <mat-error *ngIf="displayMessage['password']">
              {{ displayMessage["password"] }}
            </mat-error>
          </mat-form-field>
        </div>

        <button
          type="submit"
          [disabled]="!loginForm.valid"
          mat-raised-button
          color="primary"
        >
          Entrar
        </button>
      </form>

      <span routerLink="/auth/register">Não possui uma conta?</span>
    </mat-card-content>
  </mat-card>
</div>
