<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>Login - Todo</h2>

      <form action="">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Digite o seu email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Digite a sua senha" />
        </mat-form-field>
        <button mat-raised-button color="primary">Entrar</button>
      </form>

      <span routerLink="/register">Não possui uma conta?</span>
    </mat-card-content>
  </mat-card>
</div>
